/* body {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body.light {
  background-color: white;
  color: rgb(0, 0, 0);
}

body.dark {
  background-color: rgb(0, 0, 0);
  color: white;
} */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.light {
  background-color: white;
  color: rgb(0, 0, 0);
}

body.dark {
  background-color: rgb(0, 0, 0);
  color: white;
}