@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}


.bounce {
  display: inline-block;
  animation: bounce 2s infinite;
}

.main-section {
    height: 100vh;
    /* padding-top: 80px; */
}

.container-icon-main-section {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 90px;
    border-radius: 50%;
    background-color: #e5e5e5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-main-section {
    font-size: 74px;
    border-radius: 35%;
}

.info-main-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-main-section h1 {
    font-size: 68px;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.info-main-section span.light {
    color: #e5e5e5;
    -webkit-text-stroke: 2px black;
}

.info-main-section span.dark {
    color: #6e6e6e;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.info-main-section h3 {
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.info-main-section p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 1.1rem;
    padding: 20px 0px 20px 0px;
}

.button-main-section {
    padding: 20px 0px 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-arrow-btn-container {
    padding: 20px 0px 20px 0px;
}

.soft-skills-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.soft-skills-section h3 {
    text-align: center;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.h-r {
    height: 8px;
    width: 100px;
    background-color: #0dff00;
    border-radius: 10px;
    margin-bottom: 22px;
}

.card-container {
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}

.tech-skills-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-skills-section p{
    padding: 0px 0px 20px 0px;
}

.badge {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 1rem;
}

.experience-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-section h3 {
    text-align: center;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}