/* .my-nav {
    position: fixed;
    width: 100%;
    height: 80px;

    z-index: 10;
}

.my-nav.dark {
  background-color: white;
  color: rgb(0, 0, 0);
}

.my-nav.light {
  background-color: rgb(0, 0, 0);
  color: white;
} */

.my-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    z-index: 10;
    box-sizing: border-box;
}

.my-nav.dark {
  background-color: white;
  color: rgb(0, 0, 0);
}

.my-nav.light {
  background-color: rgb(0, 0, 0);
  color: white;
}

.my-nav .container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-collapse {
  gap: 0.5rem;
}

.navbar-nav {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .navbar-nav {
        gap: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}