.my-nav {
    position: fixed;
    width: 100%;
    height: 80px;

    z-index: 10;
}

.my-nav.dark {
  background-color: white;
  color: rgb(0, 0, 0);
}

.my-nav.light {
  background-color: rgb(0, 0, 0);
  color: white;
}